{% extends 'base.html' %}
{% load static %}
{% block title %}Painel{% endblock %}
{% block content %}

<div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
    <h1 class="mb-0 ">Painel</h1>

    <div class="d-flex flex-wrap align-items-center gap-3">
        <div class="d-flex flex-column align-items-start gap-2">
            <label for="filtro" class="fw-semibold text-secondary mb-0">Ordenar por:</label>
            <select id="filtro" class="form-select form-select-sm shadow-sm border-0 bg-light"
                style="min-width: 160px;">
                <option value="v">Vencimento</option>
                <option value="p" selected>Pendente</option>
                <option value="c">Cancelado</option>
                <option value="f">Finalizado</option>
            </select>
        </div>

        <button class="btn btn-primary d-flex align-items-center gap-2 shadow-sm" id="registrar">
            <i class="bi bi-plus-square-fill fs-5"></i>
            <span>Registrar</span>
        </button>
    </div>
</div>

<hr class="">

<div style="overflow-x: auto;">

    <table class="table  table-bordered">
        <thead>
            <tr>
                <th scope="col">Valor</th>
                <th scope="col">Descrição</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Categoria</th>
                <th scope="col">Emissão</th>
                <th scope="col">Vencimento</th>
                <th scope="col">Status</th>
                <th scope="col">Data Atualização</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody id="container" class="align-middle">
        </tbody>

    </table>

    <div class="d-flex justify-content-center align-items-center p-4 my-4 border border-dashed rounded-3 text-center loading"
        style="min-height: 120px;">
        <div>


            <div class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>


            <div class="fs-5 fw-semibold text-secondary">Carregando dados...</div>
            <div class="text-muted small">Por favor, aguarde um instante</div>
        </div>
    </div>


</div>

<!-- Modal básico -->
<div class="modal fade" id="dynamicModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form id="form">

                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Título</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body" id="modalBody">
                    <!-- O conteúdo será trocado aqui -->
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <div id="modal-submit">

                    </div>
                </div>

            </form>

        </div>
    </div>
</div>


{% endblock %}

{% block app_js %}

<script src="{% static 'core/js/painel.js' %}"></script>

{% endblock %}